<div class="card-container">
  <div class="card-container__wrapper">
    <img class="card-image" [src]="product.image" [alt]="product.title" />
    <h3 class="card-title">{{ product.title | truncateWords }}</h3>
    <p class="card-price">Price: {{ product.price }}</p>
    <p class="card-count">Count: {{ product.rating.count }}</p>

    <button class="button" (click)="toggleDetails()">
      {{ showDetails ? "Hide Details" : "Show More" }}
    </button>
  </div>

  <div class="card-details" [ngClass]="{ visible: showDetails }">
    <p class="card-category">{{ product.category | uppercase }}</p>
    <p class="card-description">{{ product.description }}</p>
    <p class="card-rate">Rate: {{ product.rating.rate }}</p>
  </div>
</div>
