<div class="container">
  <div class="filter-wrapper">
    <app-filter-products
      (searchTermChanged)="updateSearchTerm($event)"
    ></app-filter-products>
  </div>
  <div class="main-content__wrapper">
    <app-slide-bar (categorySelected)="updateCategory($event)"></app-slide-bar>
    <div class="product-card__wrapper">
      @for (product of products | filterProducts: search; track product.id) {
        @if (!selectedCategory || product.category === selectedCategory) {
          <app-product [product]="product"></app-product>
        }
      }
    </div>
  </div>
</div>
